/*------------------------------------*\
    #LINK
\*------------------------------------*/

a {
    text-decoration: none;
    color: $color-link;
    font-weight: 400;
    border-bottom: 1px solid lighten($color-blue, 40%);

    &:hover {
        color: $color-link-hover;
        background: lighten($color-blue, 40%);
    }
}