/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/

h1 {

}

.club-name {
    @include font-size(52px);
    line-height: 1.2;
    margin: 6.5em 0 0.2em;
    letter-spacing: -2px;

        @include breakpoint($tab) {
            @include font-size(72px);
            margin-top:4.5em;
        }

            @include breakpoint($desk) {
                @include font-size(96px);
                margin-top: 4.5em;
                letter-spacing: -4px;
            }
}