/*------------------------------------*\
    #TYPE
\*------------------------------------*/

p {
    margin: 1em 0;

    @include breakpoint($desk) {

    }
}

td {
    padding: 0 1em;

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
    }
}

img {
    max-width: 100%;
    height: auto;
}