/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    font-size: 1.2rem;
    font-weight: normal;
}

.heading {

}

.heading-sub {

}

.heading-section {
    font-weight: 600;
    text-transform: uppercase;
}

.heading-news {
    padding-right: 2em;
}