/*------------------------------------*\
    #MEETINGS
\*------------------------------------*/

.meetings__time {
    font-size: 1.5em;
}

.meetings__venue {
    font-size: 1.125em;
    font-weight: 400;
}