/*------------------------------------*\
    #ARCHIVE
\*------------------------------------*/

.archive-list {
    list-style: none;
}

.archive-list__item {
    margin-top: 2em;
    padding: 1em 0;
}

.archive-list__item + .archive-list__item {
    border-top: 1px solid $color-grey-lighter;
}