/*------------------------------------*\
    #PAGE-HEAD
\*------------------------------------*/

.page-head {
    background: url(../img/rad.jpg) no-repeat center center;
    background-size: cover;
    color: $color-white;
    text-align: center;
}

.dropcloth {
    background: $color-blue-dark;
    padding: 1.5em 0;

    @include breakpoint($desk) {
        padding: 4em 0;
    }
}





/**
 * Club Name.
 */
 .club-name-wrapper {
    line-height: 1;
    margin-bottom: 2em;
 }

.club-name {
    color: $color-white;
    border: none;
    text-align: center;
    font-family: $srcsans;
    text-transform: uppercase;
    font-size: 2.4em;
    color: $color-white;
    text-decoration: none;
    letter-spacing: -0.05em;
    word-spacing: 0.15em;
    font-weight: 400;

    &:hover {
        color: $color-white;
        background: none;
    }
}





.band--header {
    font-size: 1.4em;
    font-weight: 300;
    background: $color-brown-light;
    padding: 1em 1.5em;
    margin: 2em 0;
}