/*------------------------------------*\
    #NAV
\*------------------------------------*/

.nav-wrapper {
    margin-bottom: 6em;
    padding: 0.5em 0;
    overflow: hidden;
}


    .site-name {
        float: left;
    }

    .site-nav {
        float: right;
    }





.archive-front {
    margin-top: 3em;
}
