---
layout: page
title: Archive
page-class: page--archive
section-class: section-archive
section-id: section:archive
permalink: /archive/
---

{% for post in site.posts %}
  {% assign currentDate = post.date | date: "%Y" %}
  {% if currentDate != myDate %}
    {% unless forloop.first %}</ol>{% endunless %}
    <h2 class="heading-year">{{ currentDate }}</h2>
    <ol reversed class="archive__list">
    {% assign myDate = currentDate %}
  {% endif %}
    <li class="archive__item">
      <b><time class="" datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %d" }}</time></b> - 
      <a href="{{ post.url }}" class="">{{ post.title }}</a>
    </li>
  {% if forloop.last %}</ol>{% endif %}
{% endfor %}
