{% for post in paginator.posts %}
  <article class="news__item">
    <div class="news__date">
      <time datetime="{{ post.date | date: "%Y-%m-%d" }}">
        <span>{{ post.date | date: "%A, %-d %B %Y" }}</span>
      </time>
    </div>
    <h3 class="news__title">
      <a href="{{ post.url }}" class="news__link">{{ post.title }}</a>
    </h3>
  </article>
{% endfor %}

{% if paginator.next_page or paginator.previous_page %}
  <ol class="pagination" data-ui-component="Pagination">
    {% if paginator.next_page %}
  <li>
    <a href="/page{{paginator.next_page}}#section:news" class="pagination-link  pagination-link--older">Older articles</a>
  {% endif %}

  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <li>
    <a href="/#section:news" class="pagination-link  pagination-link--older">Newer articles</a>
    {% else %}
      <li>
        <a href="/page{{paginator.previous_page}}#section:news" class="pagination-link  pagination-link--newer">Newer articles</a>
    {% endif %}
  {% endif %}

  </ol>
{% endif %}