/*------------------------------------*\
    #PAGE
\*------------------------------------*/

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@-ms-viewport{
  width: device-width;
}

* {
  box-sizing: border-box;
}

html {
  font-family: $base-font;
  font-weight: 400;
  font-size: $base-font-size;
  color: $color-text;

  @media screen and (min-width: $tablet-portrait) {
    font-size: $base-font-size--large;
  }

}





/**
 * Main page container.
 * 
 * 1. 
 */
.container {
  background: linear-gradient($color-blue-faded, $color-blue-dark calc(100vw * 0.75)),
              url(../img/rad.jpg) no-repeat; /* [1] */
  background-size: auto, cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.region {
  flex: 0 0 100%;
}
