/*------------------------------------*\
    #QUOTES
\*------------------------------------*/

/**
 * Inline quotes.
 */
q {
    font-style: italic;
    quotes: "‘" "’" "“" "”";

    &:before {
        content: open-quote;
    }

    &:after {
        content: close-quote;
    }

}





/**
 * Block quotes.
 *
 * 1. Hang opening punctuation on supported browsers.
 */
blockquote {
    margin: 0 $spacing-unit 1em;
    quotes: "“" "”";

    p {
        font-size: 1.2em;
        text-indent: -1ch; /* [1] */
        font-weight: 400;
        font-style: italic;

        &:before {
            content: open-quote;
        }

        &:after {
            content: no-close-quote;
        }

        &:last-of-type {
            margin-bottom: 0;

            &:after {
                content: close-quote;
            }

        }

    }

    q {
        quotes: "‘" "’";

        &:before {
            content: open-quote;
        }

        &:after {
            content: close-quote;
        }

    }

}