/*------------------------------------*\
    #TYPE
\*------------------------------------*/

/**
 * Headings.
 */
h1, h2, h3, h4, h5, h6 {
  font-size: 1.2rem;
  margin-bottom: 1em;
  font-weight: bold;
  text-align: center;
}

.heading-page {
  font-size: 250%;
  font-weight: bold;
  margin-bottom: 0.2em;
}

h2 {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: $spacing-unit--small;
}

.heading-sub {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: $spacing-unit--small;
}

.heading-news {
  font-size: 110%;
  margin-bottom: $spacing-unit--small;
}

.heading-year {
  font-size: 190%;
  margin-bottom: 0.4em;
  text-align: left;
  color: $color-blue;
  font-weight: 300;

  &:not(:first-child) {
    margin-top: $spacing-unit--small;
  }
}





p {
    margin: 1em 0;
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
}

b,
strong {
    font-weight: bold;
}

i,
em {
    font-style: italic;
}

small {
    font-size: 85%;
}