/*------------------------------------*\
    #TABLES
\*------------------------------------*/

table {
    min-width: 50%;
    font-size: 16px;
    line-height: 1.75;
    border-spacing: 0;
    margin: 0 auto $spacing-unit;
    border-bottom: $border-light;
}

th, td {
    padding: 0.25em 0.75em;
}

th {
    border-top: $border-dark;
}

td {
    border-top: $border-light;
}

tbody tr:nth-child(odd) {
    background: $color-grey-lighter;
}