/*------------------------------------*\
    #PAGE-HEAD
\*------------------------------------*/

.page-head {
  color: $color-white;
}





/**
 * Meetings details.
 */
.page-head__meetings {
  text-align: center;
  font-size: 110%;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
  margin: 0 0 $spacing-unit--small;
}





/**
 * Introductory Text.
 */
.page-head__intro {
  font-size: 120%;
  font-weight: 300;
  text-align: center;
}


.page-head__intro:before {
  content: "";
  display: block;
  border-top: 1px solid $color-white-transparent;
  width: 40%;
  margin: $spacing-unit--tiny auto;
}