/*------------------------------------*\
    #CONTENT-LISTS
\*------------------------------------*/

.content-list {
  list-style: none;
  padding: 0 0 1.5em 0;
  line-height: 1.6;
}




  .content-list__item {
    border-bottom: $border-light;
    padding: 1.5em 0;

    &:first-of-type{
      border-top: $border-light;
    }

    &:last-child {
      border-bottom: none;
    }

    @media screen and (min-width: $phone-portrait) {
      @supports (display:grid) {
          display: grid;
          grid-template-columns: 11em auto;
          align-items: baseline;
      }
    
    }

  }


    .content-list__date {
        font-weight: bold;
    }


    .content-list__link {
        font-size: 120%;
        font-weight: normal;
    }
