.section-news {
  color: $color-white;
}





.news__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: $color-blue-light;
  padding: $spacing-unit--small;

  &:nth-child(even) {
    background: $color-blue-darker;
    
    .news__link {
      @mixin link-inverse;
    }

  }

  &:nth-child(odd) {
    color: $color-black;
  }

}


  .news__date {
    font-size: 90%;
    margin-bottom: 0.5em;
  }


  .news__title {
    margin-bottom: 0;
  }





/**
 * Chequered Post List.
 * 
 * On wider screens, the list impersonates a chessboard.
 */

@media screen and (min-width: $tablet-portrait) {

  @supports (display:grid) {
    .news {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  
  
      .news__item {
        padding: $spacing-unit;
      }
  
        .news__item:nth-child(4n+1),
        .news__item:nth-child(4n+4) {
          background: $color-blue-light;
          color: $color-black;

          .news__link {
            @mixin link;
          }

        }
    
        .news__item:nth-child(4n+2),
        .news__item:nth-child(4n+3) {
          background: $color-blue-darker;
          color: $color-white;
    
          .news__link {
            @mixin link-inverse;
          }
  
      }
  
  }

}