.context-tag {
  position: absolute;
  top:-2rem;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.context-tag__name {
  background: #fff;
  padding: 0.4em 0.8em;
  color: #0d4a87;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 85%;
}