/*------------------------------------*\
    #PIECES
\*------------------------------------*/

.piece {
    fill: rgba($color-white, 0.5);
    margin-bottom: 1.5em;
}

.piece-king {
    width: auto;
    height: 60px;
}

.piece-minor {
    width: auto;
    height: 25px;
    margin-left: 0.7em;
    margin-right: 0.7em;
}

