/*------------------------------------*\
    #EVENTS
\*------------------------------------*/

.event__time::before {
  content: ", ";
}


@media screen and (min-width: $phone-portrait) {

  .event__time {
    font-weight: normal;
  }

    .event__time::before {
      content: none;
    }

    
  .event__time,
  .event__end {
      display: block;
  }

}










/**
 * Reports.
 */
.reports {
  margin: $spacing-unit 0;
  padding-top: $spacing-unit--small;
}





/**
 * Embedded Rules.
 */
* + .rules {
  margin-top: $spacing-unit--small;
  padding: $spacing-unit--small $spacing-unit;
  background: $color-grey-lighter;
  border-top: $border-dark;
}

  .rules__body {
    font-size: 90%;
  }