/*------------------------------------*\
    #TYPE-MIXINS
\*------------------------------------*/

@define-mixin link $color: $color-link, $hover: $color-link-hover {
    color: $color;
    
    &:hover,
    &:focus {
        color: $hover;
    }

}


@define-mixin link-inverse {
    @mixin link $color-yellow, $color-white;
}
