/*------------------------------------*\
    #TYPE-SETTINGS
\*------------------------------------*/

$base-font              : Lato, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$base-font-size         : 14px;
$base-font-size--large  : 16px;
