---
layout: default
---

<div class="page-content">
  <h2 class="page-heading">Features</h2>
</div>

 {{ content }}

  <ul class="post-list">
    {% for post in site.features reversed %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h3>
      </li>
    {% endfor %}
  </ul>
<!--
<div id="board-home" class="chessboard"></div>

<div class="boardbuttons">
<input type="button" id="startPositionBtn5" value="|<" />
<input type="button" id="prevBtn5" value="<" />
<input type="button" id="nextBtn5" value=">" />
<input type="button" id="endPositionBtn5" value=">|" />
<p><span id="pgn5"></span></p>
</div>

<script src="/assets/js/script-home.js"></script>
-->
