---
layout: default
---
<header class="page-head">
  <div class="dropcloth">
    <div class="wrapper">
      {% include king.html %}
      <div class="club-name-wrapper">
        <a href="{{ site.baseurl }}/" class="club-name">{{ site.title }}</a>
      </div>
      {% include minor-pieces.html %}

      <div class="meetings-info">
        <div class="meetings__time">
        {{ site.weekday }} {{ site.meetingtime }}
        </div>
        <div class="meetings__venue">
        {{ site.venue }}
        </div>
      </div>
    </div>


    <div class="band band--header">
        {{ content }}
    </div>

    <div class="wrapper">
      <div class="contact-info">
        <div class="contact-intro">For more information, contact {{ page.contactname }}

        {% if page.contact2name != null %}
        or {{ page.contact2name }}
        {% endif %}
        </div>
        <ul class="contact-list">
          <li class="contact">
            <div class="contact__name">
            {{ page.contactname }}
            </div>
            <div class="contact__email">
            {{ page.contactemail }}
            </div>
            <div class="contact__phone">
            {{ page.contactphone }}
            </div>
          </li>
          {% if page.contact2name != null %}
            <li class="contact">
              <div class="contact__name">
              {{ page.contact2name }}
              </div>
              <div class="contact__email">
              {{ page.contact2email }}
              </div>
              <div class="contact__phone">
              {{ page.contact2phone }}
              </div>
            </li>
            {% endif %}
          </ul>
        </div>
    </div>
  </div>



</header>

<section class="section-news" id="section:news">
  <div class="wrapper">

    <h2 class="heading-section">Club News</h2>

        {% for post in paginator.posts %}
        <article class="news-article">
            <div class="news-article__date">
                <time datetime="{{ post.date | date: "%Y-%m-%d" }}">
                    <span>{{ post.date | date: "%A, %-d %B %Y" }}</span>

                </time>
                <a href="{{ post.url }}" class="news-article__permalink"></a>
            </div>
            <div class="news-article__content">
                <h3 class="heading-news">{{ post.title }}</h3>
                {{ post.content }}
                <div class="news-article__author">
                    <em>{{ post.author}}</em>
                </div>
            </div>


        </article>
        {% endfor %}


    <ol class="pagination" data-ui-component="Pagination">


      {% if paginator.next_page %}
    <li>
        <a href="/page{{paginator.next_page}}#section:news" class="pagination-link  pagination-link--older">Older articles</a>
    {% endif %}

    {% if paginator.previous_page %}

            {% if paginator.previous_page == 1 %}
            <li>
                <a href="/#section:news" class="pagination-link  pagination-link--older">Newer articles</a>
            {% else %}
            <li>
                <a href="/page{{paginator.previous_page}}#section:news" class="pagination-link  pagination-link--newer">Newer articles</a>
            {% endif %}
    {% endif %}

    </ol>
  </div>
</section>
