---
layout: default
---

<header class="page-head  region">
  {% include nav.html %}
  <div class="wrapper  header-wrapper">
    <h1 class="heading-page">{{ page.title }}</h1>
    <div class="post-date">
      <time datetime="{{ post.date | date: "%Y-%m-%d" }}">
        <span>{{ page.date | date: "%A, %-d %B %Y" }}</span>
      </time>
    </div>
  </div>
</header>

<section class="section-post  content-section  region" id="section:post">
  <div class="wrapper  content-wrapper  content-wrapper--opaque">
    <article class="article">
      <div class="article__body">
        {{ content }}
        <div class="article__author">
          <em>{{ page.author}}</em>
        </div>
      </div>
    </article>
  </div>
</section>